.horizontal-scroll-wrapper {
    width: 100%;
    height: fit-content;
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-bottom: 1em;
    padding: 16px 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.avatar {
    vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2.3px solid red;
}

